@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf9f6;
  color: #1a1a1a;
}

@layer utilities {
  .underline-gold {
    background-image: linear-gradient(#e8b33d, #e8b33d);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
  }
}
